.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
}
form {
  width: 600px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form div {
  flex: 1;
}
form div input {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #818181;
  border-radius: 5px;
}
form .tr {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
form .btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
form .btn button {
  border: 0;
  background: #333;
  color: white;
  border-radius: 5px;
  padding: 10px 70px;
  cursor: pointer;
}
