<div class="container">
  <form [formGroup]="productForm">
    <div>
      <input type="text" placeholder="Enter Title" formControlName="title" />
    </div>
    <div>
      <input
        type="text"
        placeholder="Enter Description"
        formControlName="desc"
      />
    </div>
    <div class="tr">
      <input
        type="text"
        placeholder="Enter Category"
        formControlName="category"
      />
      <input
        type="number"
        placeholder="Enter Rating"
        formControlName="rating"
      />
      <input type="number" placeholder="Enter Stock" formControlName="stock" />
    </div>
    <div class="btn">
      <button>Submit</button>
    </div>
  </form>
</div>
